@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    margin: 0; padding: 0;
}
.container {
    max-width: 450px;
    margin: 0 auto;
    padding: 0;
    font-family: Open Sans, sans-serif;
}
/*
    HEADER
*/
header {
    background: #2c3e50;
    color: white;
    padding: 1em;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}
.logo i{
    font-size: 2em;
}
.logo p {
    margin-top: 2px;
    font-size: 12px;
}
 h2 {
     text-align: center;
     margin-top: 0;
     text-transform: uppercase;
     letter-spacing: 5px;
}
 /*
    SECTION
 */
ul {
     list-style-type: none;
     margin: 0; padding: 0;
     font-size: 1.3rem;
     text-transform: lowercase;
}
li {
     padding-left: 1em;
     line-height: 2.5em;
     background: #e67e22;
     color: white;
    
    position: relative;
}
li i {
    position: absolute;
    right: 1em;
    top: 0.8em;
}
 li:not(:last-child) {
     border-bottom: 2.5px solid rgba(0,0,0,0.3);
}
 /*
    COLOR CLASSES
 */

.hot {
    background:#d35400;
}
.cool {
     background: #1abc9c;
}